@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lemon&family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: salsa;
    user-select: none;
    pointer-events: none;
}

body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    gap: 25px;
    position: relative;
}

body, .clock, .hand, .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 340px;
    height: 340px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 50%;
    background-color: #6e70ff;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border: 4px solid rgba(255, 255, 255, 0.35);
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    display: inline-block;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 24px;
}

.clock::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 8;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.clock::after {
    content: '';
    width: 4.5px;
    height: 4.5px;
    background-color: #4b48ff;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.hand {
    position: absolute;
    z-index: 5;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    width: 3.5px;
    height: 70px;
    background-color: var(--clr);
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.box {
    position: absolute;
    top: 68%;
    width: 140px;
    height: 30px;
    background-color: #727272;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    gap: 5px;
    padding: 2px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.title {
    font-size: 26px;
    font-family: Bungee Spice;
    letter-spacing: 1.2px;
    background-color: #0000000e;
    padding: 5px 8px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
